/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import 'tailwindcss';

.tab-bar {
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}
